@import '@fontsource/inter';

:root {
  --font-body: Inter, sans-serif;
  font-family: var(--font-body);
}

html {
  user-select: none;
}
img:active {
  pointer-events: none;
}
button, a {
  cursor: default;
}
h1 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: .5rem;
}
h2 {
  font-weight: 400;
  font-size: 1.3rem;
}
:root {
 --link-color: rgba(255, 62, 62, 0.5);
	--blur: 1.5px; 
  }